<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <br /><br />
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li class="list-group-item"
          *ngFor="let odd of numOdd"
          [ngClass]="{odd: odd % 2 !== 0}"
          [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow': 'transparent'}">
            {{ odd }}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li class="list-group-item" *ngFor="let even of numEven"
           [ngClass]="{odd: even % 2 === 0}"
           [ngStyle]="{backgroundColor: even % 2 === 0 ? 'grey': 'transparent'}">
            {{ even }}
          </li>
        </div>
      </ul>

      <p appBasicHighlight> style me with a basic directive </p>
      <!-- we can bind the directives using the input decorator -->
      <!-- we can use or cant use the [] if we are using the [] then we have to use the "''" and if we are not using the [] then we can simply use the '' -->
      <p appBetterHightlight [defaultColor]="'grey'" [highlightColor]="'yellow'" textColor="brown"> style me with a basic directive </p>
    </div>
  </div>
</div>
